#container {
    margin: 5rem;
    padding: 1rem;
    width: 50%;

    background-color: yellowgreen;
}
#tareas_enlistadas {
    margin: 5rem;
}
.tarea {
    display: flex;
}

.btn {
    background-color: rgb(202, 8, 121);
    color: white;
}

.idTarea {
    width: 5%;
}

.nombreTarea {
    width: 60%;
}

.statusTarea {
    width: 10%;
}

.eliminarTarea {
    width: 25%;
}

#tareas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}